In [41]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import os
# Import the API key.
from config import g_key

In [42]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv(os.path.join("weather_data", "cities.csv"))
city_data_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Groningen,75,NL,2021-12-03 06:48:36,94,53.2500,6.7500,40.01,3.00
1,1,Rikitea,0,PF,2021-12-03 06:53:33,77,-23.1203,-134.9692,76.33,18.23
2,2,Bethel,7,US,2021-12-03 06:53:34,62,41.3712,-73.4140,46.49,4.00
3,3,Hilo,40,US,2021-12-03 06:53:34,88,19.7297,-155.0900,77.29,3.44
4,4,Kloulklubed,100,PW,2021-12-03 06:53:35,84,7.0419,134.2556,80.17,29.39

In [43]:
city_data_df.dtypes

City_ID         int64
City           object
Cloudiness      int64
Country        object
Date           object
Humidity        int64
Lat           float64
Lng           float64
Max Temp      float64
Wind Speed    float64
dtype: object

In [44]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [45]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [46]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4
                                )

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
# Heatmap of percent humidity

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum humidity.
humidity = city_data_df["Humidity"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# Heatmap of cloudiness

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the Cloudiness.
clouds = city_data_df["Cloudiness"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=clouds, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# Heatmap of Wind Speed (mph)

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the Wind Speed.
wind = city_data_df["Wind Speed"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=wind, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [59]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
1,1,Rikitea,0,PF,2021-12-03 06:53:33,77,-23.1203,-134.9692,76.33,18.23
3,3,Hilo,40,US,2021-12-03 06:53:34,88,19.7297,-155.0900,77.29,3.44
4,4,Kloulklubed,100,PW,2021-12-03 06:53:35,84,7.0419,134.2556,80.17,29.39
9,9,Tura,65,IN,2021-12-03 06:53:36,45,25.5198,90.2201,78.33,3.58
11,11,Atuona,100,PF,2021-12-03 06:53:37,73,-9.8000,-139.0333,78.89,20.98
13,13,Busselton,0,AU,2021-12-03 06:51:38,33,-33.6500,115.3333,84.09,7.56
19,19,Banjar,67,ID,2021-12-03 06:53:40,78,-8.1900,114.9675,84.06,2.86
21,21,Puerto Madero,38,MX,2021-12-03 06:53:41,75,14.7208,-92.4215,76.93,4.14
23,23,Maxixe,40,MZ,2021-12-03 06:53:42,74,-23.8597,35.3472,84.02,13.00
28,28,Cabo San Lucas,100,MX,2021-12-03 06:53:13,76,22.8909,-109.9124,76.51,7.85

In [60]:
preferred_cities_df.count()

City_ID       149
City          149
Cloudiness    149
Country       149
Date          149
Humidity      149
Lat           149
Lng           149
Max Temp      149
Wind Speed    149
dtype: int64

In [61]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1          Rikitea      PF     76.33 -23.1203 -134.9692
3             Hilo      US     77.29  19.7297 -155.0900
4      Kloulklubed      PW     80.17   7.0419  134.2556
9             Tura      IN     78.33  25.5198   90.2201
11          Atuona      PF     78.89  -9.8000 -139.0333
13       Busselton      AU     84.09 -33.6500  115.3333
19          Banjar      ID     84.06  -8.1900  114.9675
21   Puerto Madero      MX     76.93  14.7208  -92.4215
23          Maxixe      MZ     84.02 -23.8597   35.3472
28  Cabo San Lucas      MX     76.51  22.8909 -109.9124

In [63]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
print("Done")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [65]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Rikitea,PF,76.33,-23.1203,-134.9692,People ThankYou
3,Hilo,US,77.29,19.7297,-155.0900,Hilo Hawaiian Hotel
4,Kloulklubed,PW,80.17,7.0419,134.2556,Storyboard Beach Resort
9,Tura,IN,78.33,25.5198,90.2201,Hotel RIKMAN Continental
11,Atuona,PF,78.89,-9.8000,-139.0333,Villa Enata
13,Busselton,AU,84.09,-33.6500,115.3333,Observatory Guest House
19,Banjar,ID,84.06,-8.1900,114.9675,The Hamsa Resort
21,Puerto Madero,MX,76.93,14.7208,-92.4215,Hospedaje madero
23,Maxixe,MZ,84.02,-23.8597,35.3472,Oceano
28,Cabo San Lucas,MX,76.51,22.8909,-109.9124,Hotel Tesoro Los Cabos

In [72]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [73]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [74]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))